@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

html {
    background-color: #242330;
}

body {
    margin: 0;
    background: url(background.svg);
    background-position: center;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #1E1D28;
}

body::-webkit-scrollbar-thumb {
    background-color: #2DCE1F;
    border-radius: 4px;
}

.header {
    background: #1E1D28;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .item {
    font-size: 32px;
    font-family: Comfortaa;
    padding: 16px;
    color: white;
    cursor: pointer;
}

.menu .item:hover {
    background-color: #2DCE1F;
}

.main {
    box-sizing: border-box;
    padding: 64px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    backdrop-filter: blur(8px);
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list .item {
    font-size: 24px;
    line-height: 200%;
    font-family: Comfortaa;
}

.term {
    font-weight: 700;
    color: #2DCE1F;
}

.text {
    font-weight: 400;
    color: white;
}